<div
  data-controller="revolut-card"
  data-revolut-card-public-id-value="<%= @payment_method_setup.revolut_order_public_id %>"
  data-revolut-card-mode-value="<%= RevolutMerchant.config.mode %>"
>
  <%= form_for :payment_method,
               method: :post,
               url: payment_methods_path,
               data: { revolut_card_target: 'setupForm' } do |f| %>
    <%= f.hidden_field :payment_method_setup_id, value: @payment_method_setup.id %>
  <% end %>

  <div class="card p-4 w-fit sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4">
    <div data-revolut-card-target="error"></div>
    <form data-revolut-card-target="cardForm" class="flex flex-col gap-y-2">
      <div class="flex flex-col">
        <label class="block">Full name</label>
        <input class="form-input" name="full_name"/>
      </div>
      <div class="flex flex-col">
        <label class="block">Email</label>
        <input class="form-input" name="email"/>
      </div>
      <div>
        <label class="block">Card</label>
        <div data-revolut-card-target="card"></div>
      </div>
      <div class="flex flex-col gap-y-2 pt-4">
        <label class="block">Billing Address</label>
        <div class="flex flex-col">
          <label class="block">Country</label>
          <input class="form-input" name="country" placeholder="Country"/>
        </div>
        <div class="flex flex-col">
          <label class="block">State</label>
          <input class="form-input" name="state" placeholder="State"/>
        </div>
        <div class="flex flex-col">
          <label class="block">City</label>
          <input class="form-input" name="city" placeholder="City"/>
        </div>
        <div class="flex flex-col">
          <label class="block">Address line 1</label>
          <input class="form-input" name="line1" placeholder="Address line 1"/>
        </div>
        <div class="flex flex-col">
          <label class="block">Address line 2</label>
          <input class="form-input" name="line2" placeholder="Address line 2"/>
        </div>
        <div class="flex flex-col">
          <label class="block">Postal</label>
          <input class="form-input" name="postal" placeholder="Postal"/>
        </div>
      </div>

      <input type="submit" name="commit" value="Submit" class="btn-primary" data-disable-with="Submit">
    </form>
  </div>
</div>
