<div class="pb-4">
  <%= link_to '<- Back', customers_path, class: 'link-primary' %>
</div>

<div class="flex justify-between pb-2">
  <div class="page-heading">New Customer</div>
</div>

<%= render 'form' %>
